body{
    overflow: hidden;
}
.navbar{
    padding-top: 25px !important;
}
.home_full , .about_full{
    background-color: black;
    height: 100vh;
}
.custom_item a{
    color: white !important;
    padding: 10px 15px !important;
    border-radius: 20px;
}
.custom_item:hover a{
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(255, 255, 255,0.9);
}
.custom_nav{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.profile .custom_profile{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.profile{
    background-color: black;
    height:50%;
    width: 40%;
    position: relative;
    top: 48%;
    left: 50%;
    transform: translate(-40% , -55%);
}
.profile .col-3{
    height:400px;
}
.profile .profile_picture{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.profile .profile_picture img{
    width: 100%;
    border-radius: 50%;
    object-fit:cover;
}
.profile .profile_picture button:hover{
    outline:none;
    box-shadow: 0px 0px 20px rgb(255, 255, 255,0.9);
}
.profile .profile_text h4{
    font-weight: 500;
}
.profile .profile_text .ayush_text{
    font-size: 33px;
    font-weight: 650;
}
.profile .social_icon{
    margin-top: 55px;
    width: 37%;
    display: flex;
    justify-content: space-between;
}
.profile .social_icon i{
    font-size: 35px;
}
.profile .social_icon a{
    color: white;
}
.profile .profile_text .first_text{
    position: relative;
}
.profile .profile_text .first_text::before{
    position: absolute;
    content: "";
    width: 101%;
    background-color:black;
    top: 0;
    left: 0;
    height: 100%;
    border-left: 2px solid #4070F4;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}


/* Project Page Starting */

.project_card .tech_used{
    display:inline;
}
.project_card .tech_used h6{
    display: inline-block;
    /* width:45%; */
    position: relative;
    padding: 5px;
    margin-right: 10px;

}
.project_card .tech_used h6::before{
    position:absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 1px solid red;

    top: 0;
    left: 0;
}

/* Skills Page Starter */

.skill_card .skills_outer .skill_icon i{
    font-size: 100px;

}
.skill_icon img{
    width : 70%
}
.skill_icon2 img{
    width : 135%

}

/* contact form  */

.custom_container{
    background-color: black;
    height: 500px;
    position: relative;
    top: 50%;
    transform: translateY(-60%);
    width: 50% !important;
    border-radius: 20px;
    box-shadow: 0 0 30px 20px rgba(255, 255, 255 , 0.5);
}
.custom_container form{
    width: 70%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.custom_container form input{
    padding: 15px;
    outline: none;
}
.custom_container form input::placeholder,.custom_container form textarea::placeholder{
    font-size: 20px;
    font-weight: 650;
    opacity: 0.5;
}







