{% extends "common.html" %}
{% block title %}Projects{% endblock %}
{% block body %}

      <div class="container my-5 project_card">
        <div class="row g-5">
          <div class="col-3 mx-3">
            <div class="card" style="width: 22rem">
              <img style="height: 13rem" src="/media/portfolio/Images/img_1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title fs-3 mb-4">E-Commerce Website</h5>
                <div class="tech_used">
                    <h6>React.js</h6>
                    <h6>Node.js</h6>
                    <h6>MongoDb</h6>
                </div>
              </div>
            </div>
          </div>
            <div class="col-3 mx-3">
            <div class="card" style="width: 22rem">
              <img style="height: 13rem" src="/media/portfolio/Images/img_1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title fs-3 mb-4">PortFolio</h5>
                <div class="tech_used">
                    <h6>Python</h6>
                    <h6>Flask</h6>
                    <h6>Html</h6>
                    <h6>CSS</h6>
                    <h6>JavaScript</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}