{% extends "common.html" %}
{% block title %}Skills{% endblock %}
{% block body %}

            <div class="container my-5 skill_card ">
                <div class="skills_outer">
                    <div class="row text-white text-center gy-5">
                        <div class="col-2">
                                <div class="skill_icon mb-3">
                                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="Image Not Found">
                                </div>
                            <h4>Python</h4>
                        </div>
                        <div class="col-2">
                                <div class="skill_icon mb-3">
                                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain.svg" alt="Image Not Found">
                                </div>
                            <h4>Django</h4>
                        </div>
                        <div class="col-2">
                                <div class="skill_icon mb-3">
                                    <img src="/media/portfolio/Images/Flask.png" alt="Image Not Found">
                                </div>
                            <h4>Flask</h4>
                        </div>
                        <div class="col-2">
                                <div class="skill_icon mb-3">
                                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" alt="Image Not Found">
                                </div>
                            <h4>SQL</h4>
                        </div>
                        <div class="col-2">
                                <div class="skill_icon mb-3">
                                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" alt="Image Not Found">
                                </div>
                            <h4>PostgreSQL</h4>
                        </div>
                        <div class="col-2">
                                <div class="skill_icon mb-3">
                                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original-wordmark.svg" alt="Image Not Found">
                                </div>
                            <h4>React.js</h4>
                        </div>
                        <div class="col-2">
                                <div class="skill_icon mb-3">
                                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="Image Not Found">
                                </div>
                            <h4>Html</h4>
                        </div>
                        <div class="col-2">
                                <div class="skill_icon mb-3">
                                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="Image Not Found">
                                </div>
                            <h4>CSS</h4>
                        </div>
                        <div class="col-2">
                                <div class="skill_icon mb-3">
                                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="Image Not Found">
                                </div>
                            <h4>JavaScript</h4>
                        </div>
                        <div class="col-2">
                                <div class="skill_icon mb-3">
                                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" alt="Image Not Found">
                                </div>
                            <h4>BootStrap 5</h4>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}