body {
    box-sizing: border-box;
}

.homePage {
    background-color: white;
    width: 800px !important;
    max-height: 600px;
    margin: auto;
    position: relative;
    border-radius: 20px;
    padding: 30px;
}
.homePage .main_contact_content{
    background-image: -webkit-linear-gradient(45deg, #d60aff 29%, #4400ff 56%, #7e0dff 55%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Great Vibes", cursive;
    font-weight: 650;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    margin-bottom: 30px;
}

.back_button {
    position: absolute;
    height: 50px;
    width: 50px !important;
    top: 4%;
    border-radius: 100%;
    left: 3%;
    color: blue;
    line-height: 50px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(97, 97, 97, 0.258);
}

.homepage-width {
    width: 1000px !important;
}
.homepage_row {
    max-height: 550px;
    overflow-y: auto;
}

.img {
    width: 100%;
    padding: 20px 0;
    position: relative !important;
}

.img img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}
.meeting_book_text {
    width: 100%;
    font-weight: 550;
}


@media (max-width:991.98px) {

    .img {
        width: 100%;
        height: 30%;
        padding: 0;
    }

    .img img {
        padding: 30px;
    }

    .meeting_book_text {
        width: 50%;
        margin: auto;
    }

    .react-calendar2 {
        margin: auto;
        width: 65% !important;
    }

    .react-calendar1 {
        width: 65% !important;
    }

    .custom_form {
        width: 70%;
        margin: auto;
    }
}

@media (max-width:767.98px) {
    .meeting_book_text {
        width: 60%;
        font-size: 13px;
        margin: auto;
    }


    .img {
        width: 100%;
        position: relative !important;
    }

    .img img {
        width: 100%;
        padding: 0px !important;
        height: 60px;
        object-fit: contain;
    }

    .react-calendar2 {
        margin: auto;
        width: 80% !important;
    }

    .react-calendar1 {
        display: none;
    }

    .custom_form {
        width: 70%;
        margin: auto;
    }

    .medium_text {
        display: none;
    }

    .time_text2 {
        font-size: 15px !important;
    }

    .time_text1 {
        font-size: 15px !important;
    }

    .homepage_row {
        height: 1000px !important;
    }
    .shceduled_container{
        max-height: 550px;
    }
    .shceduled_container .sch_box>div{
        width: 100% !important;
        margin: auto;
        overflow-y: auto !important;
    }
    .shceduled_container .sch_box .sch_img {
        width: 12%;
        padding: 10px 0;
    }

    .shceduled_container hr {
        width: 100%;
        margin: 20px auto;
    }


}

@media (max-width:575.98px) {
    .img {
        width: 100%;
        position: relative !important;
    }

    .img img {
        margin-top: 20px;
        height: 90px !important;
        padding: 40px;
        padding: 11px !important;
        margin-bottom: 40px;
    }

    .cancle_button   {
        position: absolute;
        height: 40px;
        width: 40px !important;
        top: 30%;
        border-radius: 100%;
        left: 3%;
        color: blue;
        line-height: 50px;
        display: flex;
        align-items: center;
        background-color: transparent;
        border: 1px solid rgba(97, 97, 97, 0.258);
    }
    

    .custom-row {
        margin-top: -50px !important;
    }

    .homePage {
        width: 90% !important;
    }

    .img {
        width: 100%;
        height: 30%;
        margin-top: -30px;
    }

    .img img {
        height: 150px;
        padding: 40px;
        margin-bottom: 40px;
    }


    .meeting_book_text {
        width: 60%;
        font-size: 13px;
        margin: auto;
    }

    .react-calendar2 {
        margin: auto;
        width: 80% !important;
    }

    .react-calendar1 {
        display: none;
    }

    .custom_form {
        width: 70%;
        margin: auto;
    }

    /* .medium_text {
        display: none;
    } */

    .medium_text3 {
        margin-top:50px !important;
    }


    .time_text2 {
        font-size: 15px !important;
    }

    .time_text1 {
        font-size: 15px !important;
    }
    

    .shceduled_container .sch_online_btn {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .shceduled_container .sch_online_btn button {
        margin-bottom: 10px;
        padding: 10px 15px;
        border-radius: 20px;
        background-color: transparent;
        font-weight: 550;
        font-size: 14px;
        opacity: 0.7;
        display: flex;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.285);
    }
}